<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits Issuance</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/wellcare.png">


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table thead th {
            background-color: #5585b5; 
            color: #ffffff;
        }
      
        .table tbody tr {
            background-color:#bbe4e9; 
        }
        .table tbody tr:hover {
            background-color: #79c2d0; 
        }
        .container {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
        }
        h2 {
            color: #5585b5;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Benefit Issuance</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Benefit Type</th>
                <th>Amount</th>
                <th>Issuance Date</th>
                <th>Status</th>
                <th>Plan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>Healthcare</td>
                <td>$1500</td>
                <td>2025-01-06</td>
                <td>Approved</td>
                <td>Medicaid</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>Education</td>
                <td>$2000</td>
                <td>2025-01-07</td>
                <td>Pending</td>
                <td>SNAP</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Michael Johnson</td>
                <td>Housing</td>
                <td>$2500</td>
                <td>2025-01-08</td>
                <td>Approved</td>
                <td>Medicare</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Emily Davis</td>
                <td>Childcare</td>
                <td>$1800</td>
                <td>2025-01-09</td>
                <td>Approved</td>
                <td>CCAP</td>
            </tr>
            <tr>
                <td>5</td>
                <td>David Wilson</td>
                <td>Healthcare</td>
                <td>$1300</td>
                <td>2025-01-10</td>
                <td>Pending</td>
                <td>QHP</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
